// Color Palette
$primary: #333342;
$secondary: #8D8D8D;
$accent: #E7C79A;
$cardBackground: #FFFFFF;
$background: #F4F4F4;

body {
    background-color: $background;
}

.dashboard {
 display: flex;
}

.card {
    background-color: $cardBackground;
    color: $primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 7px;

    .card--form {
        display: flex;
        flex-direction: column;

        .card--form--email {
            display: flex;
        }
    }

    li {
        list-style: none;
        border-bottom: $accent 2px solid;
    }
}

