// Color Palette
$primary: #333342;
$secondary: #8D8D8D;
$accent: #E7C79A;
$cardBackground: #FFFFFF;
$background: #F4F4F4;

body {
    background-color: $background;
}

.card {
    background-color: $cardBackground;
    color: $primary;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card--form {
    display: flex;
    flex-direction: column;
}