// Color Palette
$primary: #333342;
$secondary: #8D8D8D;
$accent: #E7C79A;
$cardBackground: #FFFFFF;
$background: #F9F9F9;

body {
    background-color: $background;
    padding: 5px;
    color: $primary;
}

h1, h2, .statusMark, p {
    font-weight: 200;
}

.statusMark {
    border-top: $secondary 1px solid;
    border-bottom: $secondary 1px solid;
    padding: 2px;
}

.dashboard {
 display: block;
}

.company {
    border: $accent 2px solid;
    border-radius: 5px;

    .company--header{
        padding: 5px 20px;
    }
}

.card {
    background-color: $cardBackground;
    color: $primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 7px;

    .card--form {
        display: flex;
        flex-direction: column;

        .card--form--group {
            display: flex;
        }
    }

    li {
        list-style: none;
    }
}

@media (min-width: 640px) {
 
    .dashboard {
        display: flex;
    }

    .card--form {
        display: flex;
        flex-direction: column;
    }
     
}